.good {
  color: red;
  font-size: 100px;
  background-color: antiquewhite;
}
body {
  background-color: aqua;
}
.hello {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
